<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Crypto</h1>
    <p class="lead text-muted">Something about Crypto</p>
    <p>
      <%= link_to 'Find out more About Us', about_us_path, class: 'btn btn-primary' %>
      <%= link_to 'Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>
