
  <div class="inner cover">
    <h1 class="cover-heading">Crypto</h1>
    <p class="lead">Tail jerky filet mignon, landjaeger t-bone burgdoggen frankfurter swine. Burgdoggen turkey chuck flank bacon pastrami. Strip steak jowl frankfurter salami porchetta brisket shoulder jerky pancetta tail. Leberkas kevin bacon andouille corned beef ribeye sausage.</p>
    <p class="lead">
      <%= link_to "About Us", about_us_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
